:root {
    --cells-default: repeat(50, 1fr);
    --white: white;
}

h1 {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: var(--cells-default);
    grid-template-rows: var(--cells-default);
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    width: 600px;
    height: 600px;
};

