:root {
    --cells-default: repeat(16, 1fr);
}

#grid {
    display: grid;
    grid-template-columns: var(--cells-default);
    grid-template-rows: var(--cells-default);
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    width: 600px;
    height: 600px;
};